*.log
*.a
*.vcd
.AIE_SIM_CMD_LINE_OPTIONS
/aiesimulator_output
/.Xil
/logs
/Work
/.wsdata
ISS_RPC_SERVER_PORT
Map_Report.csv
pl_sample_counts
plio_throughput_info.json
sol.db
generate_golden_int8.exe
data
results*
aie/kernels/vars.h